import * as S from './styles'

export type {{pascalCase name}}Props = {
  content: string
}

const {{pascalCase name}} = ({ content }: {{pascalCase name}}Props) => (
  <S.Wrapper>
    <h1>{content}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
